* {
  box-sizing: border-box;
  font-size: 16px;
}

.tabs {
  width: 820px;
}

.tab-h {
 margin: 10px 0 0 10px;
  width: 80px;
  height: 50px;
  border: 1px solid grey;
  border-bottom: none;
  text-align: center;
  line-height: 50px;
  vertical-align: middle;
  float: left;
}
.tab-b {
  width: 800px;
  height: 500px;
  border: 1px solid grey;
  padding: 10px;
  float: left;
  background: #fff;
}
.tabs-header .non-active {
  background: #000;
  color: #fff;
}
.tabs-body .non-active {
  display: none;
}
.active {
  background: #fff;
  display: block;
}
